@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
font-weight: bold;
  /* font-weight: Regular 400;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  font-family: "Bree Serif", serif; */
  font-family: 'Poppins', sans-serif;
}
